<div class="card">
        <div class="card-header">
            <h2 align =center><strong><%= data.list[i].title %></strong></h2>
            <p align =center>
            <% for(var j = 0; j < data.list[i].tags.length; j++) {%>
            <span class="badge badge-primary"><%= data.list[i].tags[j] %></span><% } %></p>
            <p style="text-align:left; margin: 0;padding: 0;"><strong><a href="">by <%= data.list[i].user %> </a></strong>
                <span style="float:right;"><small style="color:grey;">posted <%= data.list[i].datePosted %></small></span>
            </p>
        </div>
        <div class="card-body">
            <div class="pb-2 mt-4 mb-2 ">
                <a data-toggle="modal" data-target="#<%= i %>modal">
                     <img src='./imgs/upload/<%= data.list[i].image %>'/>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-success fa-2x fas fa-arrow-up"></button>
            <button class="btn btn-outline-danger fa-2x fas fa-arrow-down"></button>
            <button class="btn btn-outline-primary  fa-2x fab fa-facebook-f"></button>
            <button class="btn btn-outline-info fa-2x fab fa-twitter "></button>
            <button class="btn btn-outline-secondary  fa-2x fas fa-comment-alt"></button>
        </div>
        <!-- START OF MODAL -->
        <%- include meme-modal.ejs %>

</div>
<br>